[uwsgi]
threads = 40
master = true
socket = 127.0.0.1:50060
chdir = {{ application.target.path }}/current/flask_skeleton
virtualenv = {{ application.target.venvs_path }}/current
pythonpath = {{ application.target.path }}/current/flask_skeleton
wsgi-file = uwsgi.py
callable = app
uid = {{ application.user }}
gid = {{ application.group }}
