[uwsgi]
threads = 40
master = true
socket = /tmp/flask-skeleton.sock
chmod-socket = 777
chown-socket = $ansible_ssh_user:$ansible_ssh_user
chdir = $flask_skeleton_install_path/code/flask_skeleton
virtualenv = $flask_skeleton_install_path/venv
pythonpath = $flask_skeleton_install_path/code/flask_skeleton
wsgi-file = $flask_skeleton_install_path/code/flask_skeleton/uwsgi.py
callable = app
plugins = python27
uid = $ansible_ssh_user
gid = $ansible_ssh_user
