[uwsgi]
threads = 40
master = true
socket = /tmp/flask-skeleton.sock
chmod-socket = 777
chown-socket = vagrant:vagrant
chdir = /home/vagrant/flask-skeleton/code/flask_skeleton
virtualenv = /home/vagrant/flask-skeleton/venv
pythonpath = /home/vagrant/flask-skeleton/code/flask_skeleton
wsgi-file = /home/vagrant/flask-skeleton/code/flask_skeleton/uwsgi.py
callable = app
plugins = python27
uid = vagrant
gid = vagrant
